.companyContainer {
  display: flex;
  gap: 2rem;
}

.aboutCompany {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;

  span {
    font-weight: 700;
    font-size: 1.5rem;

    letter-spacing: 0.08em;

    color: var(--red-500);
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 3.5rem;

    p {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;

      color: var(--gray-800);
    }

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      width: 100%;

      article {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto 1fr;
        gap: 8px;

        svg {
          color: var(--red-500);
          width: 32px;
          height: 32px;
        }

        span {
          text-align: center;
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;

          color: var(--red-500);
        }

        p {
          grid-column: span 2;
          text-align: center;

          font-weight: 600;
          font-size: 1rem;

          color: var(--gray-800);
        }
      }
    }
  }

  img {
    width: 37rem;
    height: 32.625rem;
  }
}

.valuesCompany {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;

  background: var(--gray-50);

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;

    span {
      font-weight: 700;
      font-size: 1.5rem;

      color: var(--gray-800);
    }

    p {
      font-weight: 400;
      font-size: 1rem;
      line-height: 2rem;

      color: var(--gray-600);
    }
  }
}
