.publicTransportContainer {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  margin-top: 3.5rem;

  span {
    font-weight: 700;
    font-size: 2rem;

    color: var(--gray-800);
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;

    color: var(--gray-600);
  }
}

.calendarContainer {
  display: flex;
  width: 100%;

  justify-content: center;
  align-items: center;

  margin: 4rem 0;

  .calendarContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 2rem;
  }
}

.headerCalendar {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  span {
    font-weight: 700;
    font-size: 1.5rem;

    text-align: center;

    color: var(--gray-800);
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0.5rem;

    svg {
      width: 2rem;
      height: 2rem;
    }

    &:hover {
      color: var(--white);
      background: var(--gray-800);
    }
  }
}

.bodyCalendar {
  display: flex;
  flex-direction: column;

  gap: 2.5rem;

  div {
    display: flex;
    justify-content: space-between;

    gap: 6.5rem;
    height: 5rem;

    button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 32px;
      gap: 8px;

      width: 208px;
      height: 80px;

      border-radius: 4px;
      font-weight: 500;
      font-size: 1rem;

      display: flex;
      align-items: center;
      text-align: center;

      color: var(--gray-800);

      &:hover,
      &:focus {
        color: var(--white);
        background: var(--red-500);
      }
    }
  }
}
