.headerContainer {
  display: flex;
  align-items: center;
  padding: 1rem 7rem;

  width: 100%;
  height: 6rem;

  color: var(--white);
  background: var(--red-500);

  border-bottom: 0.5px solid #ffffff;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  img {
    width: 9rem;
    height: 4rem;
  }

  nav {
    display: flex;
    gap: 2.5rem;

    p {
      font-weight: 400;
      font-size: 1rem;

      color: var(--white);

      &:hover {
        font-weight: 700;
      }
    }

    .socialMedia {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;

      svg {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }
}
