.flagContainer {
  background: var(--red-500);
  padding: 4.5rem 7rem;
  margin-top: 5.5rem;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 4rem;

    color: var(--white);

    width: 32rem;
  }

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    gap: 8px;

    width: 19rem;
    height: 5rem;

    background: var(--white);

    font-weight: 700;
    font-size: 1rem;
    color: var(--gray-800);

    &:hover {
      background: var(--red-700);
      color: var(--white);
    }
  }
}

@media screen and (min-width: 1920px) {
  .flagContainer {
    padding-left: 22rem;
    padding-right: 22rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .flagContainer {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .flagContainer {
    flex-direction: column;

    padding-left: 1rem;
    padding-right: 1rem;

    gap: 3rem;

    width: 100%;

    p {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
