.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;

  margin-top: 10rem;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;

  margin: 0 7rem;

  .topFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7rem;

    gap: 9rem;

    padding-bottom: 3rem;
    border-bottom: 1px solid var(--red-500);

    article:nth-child(1) {
      width: 35.68rem;
    }

    article:nth-child(2) {
      width: 22rem;
    }

    article {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      gap: 1rem;

      img {
        width: 11rem;
        height: 3.25rem;
        margin: 2rem 0;
      }

      span {
        font-weight: 700;
        font-size: 1rem;
        line-height: 2rem;
      }

      div {
        display: flex;
        align-items: center;
        gap: 1rem;

        svg {
          color: var(--red-500);
        }
      }
    }
  }

  .middleFooter {
    display: flex;
    justify-content: space-between;
    margin: 0 7rem;

    .links {
      display: flex;
      gap: 1.5rem;

      p {
        cursor: pointer;

        &:hover {
          font-weight: 700;
          color: var(--red-500);
        }
      }

      span {
        color: var(--red-500);
      }
    }

    .socialMedia {
      display: flex;
      justify-content: center;
      align-items: center;

      gap: 1rem;

      color: var(--red-500);

      svg {
        width: 1.5rem;
        height: 1.5rem;

        cursor: pointer;

        &:hover {
          color: var(--red-700);
        }
      }
    }
  }
}

.footerCopyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;

  width: 100%;
  padding: 1.5rem;

  color: var(--white);
  background: var(--red-500);

  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 1920px) {
  .footerContent {
    padding: 2rem 22rem;
  }
  .footerContent {
    margin: 0;

    .topFooter {
      margin: 0;
    }

    .middleFooter {
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footerContent {
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .footerContent {
    margin: 0;

    .topFooter {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      width: 100%;
      margin: 0;

      article:nth-child(1),
      article:nth-child(2) {
        width: 100%;
      }
    }

    .middleFooter {
      width: 100%;
      margin: 0;

      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      .links {
        flex-direction: column;
        gap: 0;

        span {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .footerContainer {
    margin-top: 5rem;
  }

  .footerContent {
    margin: 0;

    .topFooter {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      width: 100%;
      margin: 0;

      article:nth-child(1),
      article:nth-child(2) {
        width: 100%;
      }
    }

    .middleFooter {
      width: 100%;
      margin: 0;

      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;

      .links {
        flex-direction: column;
        gap: 0;

        span {
          display: none;
        }
      }
    }
  }

  .footerCopyright {
    padding: 1.5rem 3rem;

    text-align: center;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .footerContent {
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .footerContent {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
